<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.les.findyourfriends"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <permission
        android:name="com.les.findyourfriends.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.les.findyourfriends.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    
    <!-- Necessário para utilizar o google Maps (OpenGL ES v2) -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    

	<instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.les.findyourfriends" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="android.test.runner" />
        
        
        <activity
            android:name="com.findyourfriends.activitys.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.MainActivity"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.Map"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.ViewGroupActivity"
            android:label="@string/todosOsGrupos">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.EditarActivity"
            android:label="@string/editar">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.MeusGruposActivity"
            android:label="@string/meusGrupo">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.CriarGrupoActivity"
            android:label="@string/criarGrupo">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.EntraNoGrupo"
            android:label="@string/criarGrupo">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.GrupoActivity"
            android:label="@string/grupo">
        </activity>
        
        <activity
            android:name="com.findyourfriends.activitys.About"
            android:label="@string/about">
        </activity>
        
        <!--
        Werton (embedded)
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIoVxcSVhVUb6D5ePixBPiZU0eeFkjItM"/> -->
        
        <!--
        Werton (Casa)-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA7YImLymwvGxSQ_kl8XfdMJf0PBW37-5I"/>
        
        
        <!-- 
        Renan (embedded) -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDDKDTEx5OG9PbNInf6FvotwOtHbwiS_Dg"/> 
            
       <!-- 
        Renan (casa) 
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAtTeWtYyH5Bqq60Xri_F0XcNFytwn_VoQ"/> -->
        
        <!-- 
        Talita (casa) -->
        
        
        
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
